{% extends "base.html" %}
{% block content %}
<section class="">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full bg-white rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0 ">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
                    Feedback and Support
                </h1>
                <form class="space-y-4 md:space-y-6" action="/feedback_support/{{course_id}}/" method="post">{% csrf_token %}
                    <div>
                        <label for="your-name" class="block mb-2 text-sm font-medium text-gray-900 ">Your Name</label>
                        <input type="text" name="your-name" id="your-name" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 " placeholder="Your Name" required="">
                    </div>
                    <div>
                        <label for="your-feedback" class="block mb-2 text-sm font-medium text-gray-900 ">Your Feedback</label>
                        <textarea name="your-feedback" id="your-feedback" rows="4" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 " placeholder="Type your feedback here" required=""></textarea>
                    </div>
                    <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Submit Feedback</button>
                    <p class="text-sm font-light text-gray-500 ">
                        Need support? Contact us at <a href="mailto:support@example.com" class="font-medium text-blue-600 hover:underline ">support@example.com</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
  </section>
{% endblock content %}
